results/*
!results/example-night-shift.png
!results/example-schedule-sheet.png
!results/example-schedule-sheet.csv
myschedules.json
dynamic_schedule.csv
old_clock_plot.py
/__pycache__
tempCodeRunnerFile.py
config-files/old_config.json
