results/*
!results/example_night_shift.png
!results/example_dynamic_schedule.png
!results/example_dynamic_schedule.csv
myschedules.json
dynamic_schedule.csv
old_clock_plot.py
/__pycache__
tempCodeRunnerFile.py
config-files/old_config.json
